.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  width: 15%;
  border-radius: 1rem;
  border: 2px solid #e33d33;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  background-color: #222;
  color: #fff;
}
.card .id {
  margin: 1rem 0;
  background: #e33d33;
  color: #fff;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .title {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card .btn {
  background-color: #fff;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  transition: 0.4s;
}

.card .btn:hover {
  background-color: #e33d33;
  color: #fff;
}
