.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  margin-right: 0.4rem;
  color: #ee352c;
}

.title span {
  color: #333;
}

.pokemon_container {
  display: flex;
  flex-wrap: wrap; /* Quebra a linha quando chega na largura máx */
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
